* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: column;
  div {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
      flex-basis: 30%;
    }
  }
}

main {
  height: 83.7vh;
  margin: 15px;
}

header {
  padding: 20px;
  margin: 15px;
}

footer {
  margin-top: 24px;
  box-sizing: border-box;
  text-align: center;
}

.card-grid {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  .card {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .card-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .card {
      flex-basis: 30%;
    }
  }
}

.card {
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
  user-select: none;
}
.card:hover {
  border: 3px solid black;
  padding: 13px;
  transition:
    padding 0.2s,
    border 0.2s;
}

.bio-hero {
  display: flex;
  p {
    flex-basis: 100%;
  }
}
